@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway/Raleway-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway/Raleway-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway/Raleway-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway/Raleway-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
        url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: optional;
}

