@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway/Raleway-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway/Raleway-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Light.woff") format("woff"), url("../fonts/Raleway/Raleway-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway/Raleway-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: optional;
}

body {
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 1.75;
  font-size: 16px;
  color: #8c8c8c;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

.title {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  text-align: center;
}

.text-active {
  color: #c7b299;
}

.tip {
  width: 770px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  color: #615855;
}

.button {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  padding: 21px 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  border-radius: 3px;
  line-height: 1.64;
}

.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #c7b299;
}

.top-slider {
  position: relative;
  background-color: #555556;
}

.header {
  position: absolute;
  z-index: 9;
  width: 100%;
  padding-top: 40px;
}

.header-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.header-item {
  margin-left: 30px;
}

.header-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
}

.header-link:hover {
  text-decoration: none;
  color: #c7b299;
}

.header-icons {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-icon {
  width: 24px;
  height: 24px;
  margin-left: 28px;
  fill: #fff;
}

.header-icon:hover {
  fill: #c7b299;
}

.logo {
  width: 200px;
}

.carousel-caption {
  right: 25%;
  top: 40%;
  left: 25%;
}

.carousel-control-prev-icon {
  background-image: url(../img/left.png);
  width: 40px;
  height: 73px;
}

.carousel-control-prev-icon:hover {
  background-image: url(../img/right.png);
  width: 40px;
  height: 73px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.carousel-control-next-icon {
  background-image: url(../img/left.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 40px;
  height: 73px;
}

.carousel-control-next-icon:hover {
  background-image: url(../img/right.png);
  width: 40px;
  height: 73px;
  -webkit-transform: none;
          transform: none;
}

.carousel-indicators li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #ffffff;
}

.carousel-indicators .active {
  border: solid 2px #d3c1ad;
  background-color: transparent;
  margin: 8px 3px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-top {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 14px;
  color: #fff;
}

.promo-main {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 19px;
  color: #fff;
}

.promo-text {
  width: 565px;
}

.promo-button {
  margin-top: 52px;
}

.services {
  padding: 80px 0;
}

.services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-card {
  width: 270px;
  min-height: 210px;
  text-align: center;
}

.services-card::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.services-card:hover .services-icon {
  fill: #c7b299;
}

.services-card:hover .services-name {
  color: #c7b299;
}

.services-card:hover::after {
  background-color: #c7b299;
}

.services-icon {
  fill: #555555;
  margin-bottom: 29px;
  width: 53px;
  height: 49px;
}

.services-name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 19px;
}

.services-text {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}

.realisation {
  padding-top: 83px;
  background-color: #fbfaf8;
}

.realisation-text {
  margin-bottom: 122px;
}

.realisation-images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.realisation-img1 {
  position: relative;
  left: -20px;
}

.realisation-img2 {
  position: relative;
  left: -322px;
}

.realisation-img3 {
  position: absolute;
  left: 18%;
  top: -82px;
}

.gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19, #4e3427);
}

.purchase {
  padding: 48px 0;
}

.purchase-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase-info {
  max-width: 700px;
}

.purchase-title {
  font-size: 28px;
  text-align: left;
  color: white;
}

.purchase-text {
  font-size: 18px;
  color: #615855;
}

.purchase-button {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: max-content;
}

.portfolio {
  padding: 80px 0px;
  position: relative;
}

.portfolio-text {
  margin-bottom: 40px;
}

.portfolio-box {
  padding: 40px 0 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-card {
  width: 370px;
  margin-bottom: 30px;
}

.portfolio-info {
  padding: 30px;
  background-color: #fbfaf8;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.portfolio-info::before {
  content: '';
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: border-bottom-color;
  transition-property: border-bottom-color;
  display: block;
  border: 30px solid transparent;
  border-bottom-color: #fbfaf8;
  position: absolute;
  top: -50px;
  left: 10px;
}

.portfolio-link {
  color: #555555;
}

.portfolio-link:hover {
  color: #fff;
  text-decoration: none;
}

.portfolio-name {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
}

.portfolio-tagname {
  font-size: 14px;
  line-height: 1.43;
  color: #d1d1d1;
}

.portfolio-btn {
  margin: 0 auto;
}

.portfolio-hover {
  -webkit-transition: 1s;
  transition: 1s;
  width: 370px;
  height: 237px;
  padding: 106px 144px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.portfolio-icon {
  fill: #fff;
  margin-left: 10px;
}

.portfolio-icon:hover {
  fill: #c7b299;
}

.portfolio-card:hover .portfolio-info {
  background-color: #362f2d;
}

.portfolio-card:hover .portfolio-info::before {
  border-bottom-color: #362f2d;
}

.portfolio-card:hover .portfolio-link {
  color: #fff;
}

.portfolio-card:hover .portfolio-tag-name {
  color: #c7b299;
}

.portfolio-card:hover .portfolio-hover {
  opacity: 1;
}

.tag {
  text-align: center;
}

.tag-item {
  font-size: 14px;
  line-height: 1.5;
  width: 120px;
  padding: 10px 0;
  margin-left: 10px;
  text-align: center;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  background-color: transparent;
}

.tag-item:first-child {
  width: 70px;
  margin-left: 0;
}

.tag-item:hover {
  background-color: #998675;
  border-color: #998675;
  color: #fff;
}

.presentation {
  position: relative;
}

.presentation-video {
  width: 100%;
}

.presentation-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/video-back.jpg) no-repeat;
}

.presentation-button {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 44px;
}

.presentation-button:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.presentation-title, .presentation-text {
  color: #fff;
  text-align: center;
  margin-bottom: 29px;
  width: 565px;
}

.presentation-time {
  color: #c7b299;
  margin-top: 11px;
}

.mobile {
  padding-top: 79px;
}

.mobile-info {
  margin-top: 100px;
  margin-left: 30px;
  width: 670px;
}

.mobile-title {
  text-align: left;
  margin-bottom: 40px;
}

.mobile-list {
  list-style: none;
  margin-top: 45px;
}

.mobile-item {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-item::before {
  content: url(../img/list-arrow.png);
  margin-right: 30px;
  height: 21px;
}

.statistics {
  padding-top: 69px;
  padding-bottom: 60px;
}

.statistics-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics-card img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.statistics-card::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.statistics-number {
  font-size: 48px;
  font-weight: 200;
  line-height: 0.75;
  color: #fff;
  margin-top: 30px;
}

.statistics-name {
  margin-top: 21px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #c7b299;
}

.statistics-card:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=styles.css.map */