@import "vars";
@import "fonts";

body{
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 1.75;
    color: $text;
}

.wrapper{
    margin: 0 auto;
    max-width: 1400px;
}

.box{
display: flex;
}

.title{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    color: $icon;
    text-align: center;
}

.text-active{
    color: $active;
}

.button{
    display: inline-block;
    width: max-content;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  padding: 21px 38px;
  box-sizing: border-box;
  box-shadow: inset 0px -3px 0 0 #736357;
  background-color: $button;
  border-radius: 3px;
  line-height: 1.64;
  &:hover{
      color: #fff;
      text-decoration: none;
      background-color: $active;
  }
}

.top-slider{
position: relative;
background-color: $slider-back;
}

.header{
position: absolute;
z-index: 9;
width: 100%;
padding-top: 40px;
&-box{
    justify-content: space-between;
}
&-menu{
    height: max-content;
    align-self: center;
}
&-list{
    list-style: none;
    display: flex;
    margin: 0;
}
&-item{
    margin-left: 30px;
}
&-link{
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    &:hover{
        text-decoration: none;
        color: $active;
    }
}
&-icons{
    height: max-content;
    align-self: center;
}
&-icon{
    width: 24px;
    height: 24px;
    margin-left: 28px;
    fill: #fff;
    &:hover{
        fill: $active;
    }
}
}
.logo{
    width: 200px;
}

.carousel-caption{
right: 25%;
top: 40%;
left: 25%;
}
.carousel-control-prev-icon{
    background-image: url(../img/left.png);
    width: 40px;
    height: 73px;
    &:hover{
        background-image: url(../img/right.png);
    width: 40px;
    height: 73px;
    transform: rotate(180deg);
    }
}

.carousel-control-next-icon{
    background-image: url(../img/left.png);
    transform: rotate(180deg);
    width: 40px;
    height: 73px;
    &:hover{
        background-image: url(../img/right.png);
    width: 40px;
    height: 73px;
    transform: none;
    }
}
.carousel-indicators li{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #ffffff;
}
.carousel-indicators .active{
    border: solid 2px #d3c1ad;
    background-color: transparent;
    margin: 8px 3px;
}

.promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-top{
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 14px;
        color: #fff;
    }
    &-main{
        font-size: 52px;
        font-weight: 800;
        margin-bottom: 19px;
        color: #fff;
    }
    &-text{
        width: 565px;
    }
    &-button{
        margin-top: 52px;
    }
}

.services{
    padding: 80px 0;
    &-box{
        display: flex;
        justify-content: space-between;
    }
    &-card{
        width: 270px;
        min-height: 210px;
        text-align: center;
        &::after{
            content: "";
            display: block;
            margin: 0 auto;
            width: 70px;
            height: 3px;
            background-color: $line;
        }
        &:hover .services-icon{
            fill: $active;
        }
        &:hover .services-name{
            color: $active;
        }
        &:hover::after{
            background-color: $active;
        }
    }
    &-icon{
        fill: $icon;
        margin-bottom: 29px;
        width: 53px;
        height: 49px;
    }
    &-name{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 19px;
    }
    &-text{
        font-size: 14px;
        line-height: 1.71;
        margin-bottom: 30px;
    }
    
}

.realisation{
    padding-top: 83px;
    background-color: $block-back;
    &-text{
        width: 760px;
        text-align: center;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 122px;
    }
    &-images{
        position: relative;
        display: flex;
    }
    &-img3{
        position: absolute;
        left: 25%;
        top: -82px;
    }
}

.purchase{
    padding: 48px 0;
    background-image: linear-gradient(to right, #211b19, #4e3427);
    &-box{
        justify-content: space-between;
    }
    &-title{
        font-size: 28px;
        text-align: left;
        color: white;
    }
    &-text{
        font-size: 18px;
        color: $tipe;
    }
    &-button{
        height: max-content;
    }
}