@import "vars";
@import "fonts";

body{
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
}

.wrapper{
    margin: 0 auto;
    max-width: 1400px;
}

.box{
display: flex;
}

.title{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
}

.button{
    display: inline-block;
    width: max-content;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  padding: 21px 38px;
  box-sizing: border-box;
  box-shadow: inset 0px -3px 0 0 #736357;
  background-color: $button;
  border-radius: 3px;
  line-height: 1.64;
}

.top-slider{
position: relative;
background-color: $slider-back;
}

.header{
position: absolute;
z-index: 9;
width: 100%;
padding-top: 40px;
&-box{
    justify-content: space-between;
}
&-menu{
    height: max-content;
    align-self: center;
}
&-list{
    list-style: none;
    display: flex;
    margin: 0;
}
&-item{
    margin-left: 30px;
}
&-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
}
&-icons{
    height: max-content;
    align-self: center;
}
&-icon{
    width: 24px;
    height: 24px;
    margin-left: 28px;
}
}
.logo{
    width: 200px;
}

.carousel-caption{
right: 25%;
top: 40%;
left: 25%;
}
.carousel-control-prev-icon{
    background-image: url(../img/left.png);
    width: 40px;
    height: 73px;
    &:hover{
        background-image: url(../img/right.png);
    width: 40px;
    height: 73px;
    transform: rotate(180deg);
    }
}

.carousel-control-next-icon{
    background-image: url(../img/left.png);
    transform: rotate(180deg);
    width: 40px;
    height: 73px;
    &:hover{
        background-image: url(../img/right.png);
    width: 40px;
    height: 73px;
    transform: none;
    }
}
.carousel-indicators li{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #ffffff;
}
.carousel-indicators .active{
    border: solid 2px #d3c1ad;
    background-color: transparent;
    margin: 8px 3px;
}

.promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-top{
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 14px;
    }
    &-main{
        font-size: 52px;
        font-weight: 800;
        margin-bottom: 19px;
    }
    &-text{
        width: 565px;
    }
    &-button{
        margin-top: 52px;
    }
}



