// colors

$slider-back: #555556;
$icon: #555555;
$active: #c7b299;
$icon-disable: #e0e0e0;
$block-back: #fbfaf8;
$block-active: #362f2d;
$button: #998675;
$foote-back: #191919;
$footer-bottom: #111111;

// text
$text: #8c8c8c;
$heading: #555;
$tipe: #615855;

// gradient

$dark: #211b19;
$light: #4e3427;